@{
  Layout = "_Layout";
}

<main class="container">
  <h1>Create a New Vendor</h1>
  <h2>Fill out the form & submit to add a new vendor</h2>

  <form action="/vendors" method="post">
    <label for="Name">Vendor Name</label>
    <input id="Name" class="form-control" name="Name" type="text">
    <label for="Description">Description of Business Relationship</label>
    <textarea id="Description" class="form-control" name="Description"></textarea>
    <button class="btn, btn-dark" type="submit">Add Vendor</button>
  </form>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <a class="btn btn-dark" href='/vendors' role="button" type="button">Back to Vendors</a>
      </div>
      <div class="col-md-6">
        <a class="btn btn-dark" href='..' role="button">Back Home</a>
      </div>

    </div>
  </div>
</main>