@{
  Layout = "_Layout";
}

<main class="container">
  <h1>Welcome to Pierre's Bakery Vendor Manager</h1>
  <h2>Manage vendor's and orders for each of your vendor</h2>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <a type="button" class="btn btn-dark" role="button" href='@Url.Action("index", "Vendors")'>See All
          Vendors</a>
      </div>
      <div class="col-md-6">
        <a class="btn btn-dark" href='@Url.Action("New", "Vendors")' role="button" type="button">Add a new vendor</a>
      </div>
    </div>
  </div>
</main>