@using PierresVendorList.Models;

<h1>Pierres Vendor List</h1>

@if (Model.Count == 0)
{
  <p>There are no orders attached to the vendor.</p>
}
<ul>
  @foreach (Order order in Model)
  {
    <li><a href='/order/@order.InvoiceNumber'>@order.Title</a></li>
  }
</ul>
<a href="/order/new">Add a new order.</a>

<form action="/order/delete" method="post">
  <button type="submit" name="button">Clear All Orders</button>
</form>