@{
  Layout = "_Layout";
}
@using PierresVendorList.Models;
<main class="container">
  <h1>Create a Order</h1>
  <h2>Fill out the form information and submit to add a Order</h2>

  <form action="/vendors/@Model.vendorId/orders" method="post">
    <label for="title">Title</label>
    <input id="title" class="form-control" name="title" type="text">
    <label for="description">Description</label>
    <textarea id="description" class="form-control" name="description" type="text"></textarea>
    <label for="date">Order Date</label>
    <input id="date" class="form-control" name="date" type="text">
    <label for="total">Total</label>
    <input id="total" class="form-control" name="total" type="text">
    <button class="btn, btn-dark" type="submit">Add Order</button>
  </form>
</main>
